@layer utilities {
  .justify_flex-start {
    justify-content: flex-start
    }

  .justify_flex-end {
    justify-content: flex-end
    }

  .justify_center {
    justify-content: center
    }

  .justify_space-between {
    justify-content: space-between
    }

  .justify_space-around {
    justify-content: space-around
    }

  .justify_stretch {
    justify-content: stretch
    }

  .items_flex-start {
    align-items: flex-start
    }

  .items_flex-end {
    align-items: flex-end
    }

  .items_center {
    align-items: center
    }

  .items_space-between {
    align-items: space-between
    }

  .items_space-around {
    align-items: space-around
    }

  .items_stretch {
    align-items: stretch
    }

  .flex_row {
    flex-direction: row
    }

  .flex_column {
    flex-direction: column
    }

  @media screen and (min-width: 40em) {
    .sm\:justify_flex-start {
      justify-content: flex-start
    }
    .sm\:justify_flex-end {
      justify-content: flex-end
    }
    .sm\:justify_center {
      justify-content: center
    }
    .sm\:justify_space-between {
      justify-content: space-between
    }
    .sm\:justify_space-around {
      justify-content: space-around
    }
    .sm\:justify_stretch {
      justify-content: stretch
    }
    .sm\:items_flex-start {
      align-items: flex-start
    }
    .sm\:items_flex-end {
      align-items: flex-end
    }
    .sm\:items_center {
      align-items: center
    }
    .sm\:items_space-between {
      align-items: space-between
    }
    .sm\:items_space-around {
      align-items: space-around
    }
    .sm\:items_stretch {
      align-items: stretch
    }
    .sm\:flex_row {
      flex-direction: row
    }
    .sm\:flex_column {
      flex-direction: column
    }
        }

  @media screen and (min-width: 48em) {
    .md\:justify_flex-start {
      justify-content: flex-start
    }
    .md\:justify_flex-end {
      justify-content: flex-end
    }
    .md\:justify_center {
      justify-content: center
    }
    .md\:justify_space-between {
      justify-content: space-between
    }
    .md\:justify_space-around {
      justify-content: space-around
    }
    .md\:justify_stretch {
      justify-content: stretch
    }
    .md\:items_flex-start {
      align-items: flex-start
    }
    .md\:items_flex-end {
      align-items: flex-end
    }
    .md\:items_center {
      align-items: center
    }
    .md\:items_space-between {
      align-items: space-between
    }
    .md\:items_space-around {
      align-items: space-around
    }
    .md\:items_stretch {
      align-items: stretch
    }
    .md\:flex_row {
      flex-direction: row
    }
    .md\:flex_column {
      flex-direction: column
    }
        }

  @media screen and (min-width: 64em) {
    .lg\:justify_flex-start {
      justify-content: flex-start
    }
    .lg\:justify_flex-end {
      justify-content: flex-end
    }
    .lg\:justify_center {
      justify-content: center
    }
    .lg\:justify_space-between {
      justify-content: space-between
    }
    .lg\:justify_space-around {
      justify-content: space-around
    }
    .lg\:justify_stretch {
      justify-content: stretch
    }
    .lg\:items_flex-start {
      align-items: flex-start
    }
    .lg\:items_flex-end {
      align-items: flex-end
    }
    .lg\:items_center {
      align-items: center
    }
    .lg\:items_space-between {
      align-items: space-between
    }
    .lg\:items_space-around {
      align-items: space-around
    }
    .lg\:items_stretch {
      align-items: stretch
    }
    .lg\:flex_row {
      flex-direction: row
    }
    .lg\:flex_column {
      flex-direction: column
    }
        }

  @media screen and (min-width: 80em) {
    .xl\:justify_flex-start {
      justify-content: flex-start
    }
    .xl\:justify_flex-end {
      justify-content: flex-end
    }
    .xl\:justify_center {
      justify-content: center
    }
    .xl\:justify_space-between {
      justify-content: space-between
    }
    .xl\:justify_space-around {
      justify-content: space-around
    }
    .xl\:justify_stretch {
      justify-content: stretch
    }
    .xl\:items_flex-start {
      align-items: flex-start
    }
    .xl\:items_flex-end {
      align-items: flex-end
    }
    .xl\:items_center {
      align-items: center
    }
    .xl\:items_space-between {
      align-items: space-between
    }
    .xl\:items_space-around {
      align-items: space-around
    }
    .xl\:items_stretch {
      align-items: stretch
    }
    .xl\:flex_row {
      flex-direction: row
    }
    .xl\:flex_column {
      flex-direction: column
    }
        }

  @media screen and (min-width: 96em) {
    .\32xl\:justify_flex-start {
      justify-content: flex-start
    }
    .\32xl\:justify_flex-end {
      justify-content: flex-end
    }
    .\32xl\:justify_center {
      justify-content: center
    }
    .\32xl\:justify_space-between {
      justify-content: space-between
    }
    .\32xl\:justify_space-around {
      justify-content: space-around
    }
    .\32xl\:justify_stretch {
      justify-content: stretch
    }
    .\32xl\:items_flex-start {
      align-items: flex-start
    }
    .\32xl\:items_flex-end {
      align-items: flex-end
    }
    .\32xl\:items_center {
      align-items: center
    }
    .\32xl\:items_space-between {
      align-items: space-between
    }
    .\32xl\:items_space-around {
      align-items: space-around
    }
    .\32xl\:items_stretch {
      align-items: stretch
    }
    .\32xl\:flex_row {
      flex-direction: row
    }
    .\32xl\:flex_column {
      flex-direction: column
    }
        }
}